@{
    ViewData["Title"] = "Serviços";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<style>
    .btn {
        margin: 0 auto;
    }
</style>
<form>
    <div id="tpservicos">
        <a href="@Url.Action("Index", "TelaInicio")" title="Cancelar" class="btn btn-secondary btn-lg">
            Novo Registro
        </a>
        <button type="button" class="btn btn-secondary btn-lg">Novo Registro</button>
        <button type="button" class="btn btn-secondary btn-lg">Consulta Agenda</button>
        <button type="button" class="btn btn-secondary btn-lg">Gestão Mensal</button>
    </div>
</form>

